## Homework - Python Libraries

### Display the data

In [ ]:
%pip install seaborn

In [ ]:
#1. import libraries: pandas, numpy, matplotlib.pyplot and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#2. Read the csv file and convert to a Pandas Dataframe assinged as "df"
df = pd.read_csv("https://raw.githubusercontent.com/siglimumuni/Datasets/master/customer-data.csv")

In [ ]:
#3. Return number of columns and rows in df
df.shape

In [ ]:
#4. Return the names of the columns of df
df.columns

In [ ]:
#5. Return the first and last 5 rows of df
df.head()

In [ ]:
#6. Return the names of the columns with their data types and number of non-null values using info()
df.info()

In [ ]:
#7. Return the details of df
df.info()

In [ ]:
#8. Return summary statistic for the "credit_score" column
df["credit_score"].describe()

In [ ]:
#9. Update the name of a column called "postal_code" as "postcode"
df.rename(columns={"postal_code":"postcode"}, inplace=True)

In [ ]:
#10. Save df as a csv file in your repository
df.to_csv("customer_data.csv", index=False)

### Prepare Data
Before any analysis you should check the dataset for missing or null values. isna() method checks if the field is null and return as True or False. Grouping nulls per column, you can use sum() method.

In [ ]:
#11. Display the number of missing values per column 
#hint: df.isna().sum()
df.isna().sum()

Once you know the nulls in your dataset, you have two options either exclude those rows from your analysis or replace missing values with new value.

In [ ]:
#12. Delete the rows that contains null field
df=df.dropna()

In [ ]:
df.isna().sum()

One of the simplest methods is by replacing the null values in each column with the column mean or mode.

In [ ]:
#Do this task after next lesson, there you will learn how to group data by another column
#13. Run above codes skipping number 9, and instead of deletion, for each null field in credit_score replace with average credit_score per income category
#Create a function to impute missing values based on mean credit score for each income group

In [ ]:
#14. Create a new df called df1 with first 6 columns, and df2 with the rest of columns
df1=df.iloc[:,:6]
df1.head()

In [ ]:
df2=df.iloc[:,6:]
df2.head()

In [ ]:
#15. Drop column annual_mileage from df2
df2.drop('annual_mileage', axis=1, inplace=True)
df2.head()

In [ ]:
#16. Create subset df called subset_df for female who has working class income and has credit score above 0.45
subset_df=df[(df["gender"]=="female") 
             & (df["income"]=="working class")
             & (df["credit_score"]>0.45)]
subset_df.head()

### Visualization
Use "df" dataframe for the below visualization

In [ ]:
#16. Create a countplot to visualize the count of each category in the gender column. Use seaborn countplot() method
sns.countplot(data=df,x="gender")
plt.title("Number of Clients per Gender")
plt.ylabel("Number of Clients")
plt.show()

In [ ]:
#17. Create a pie chart that shows number of rows by income group if you can show in chart the ratio not the total number of rows.  Give a name to the chart, play with figure size and use nice color pallette
#Define plot size
plt.figure(figsize=[6,6])

#Define column to use
data = df["income"].value_counts(normalize=True)

#Define labels
labels = ["upper class","middle class","poverty","working class"]

#Define color palette
colors = sns.color_palette('pastel')

#Create pie chart
plt.pie(data,labels=labels,colors=colors, autopct='%.0f%%')
plt.title("Proportion of Clients by Income Group")
plt.show()

In [ ]:
df["education"].unique()

In [ ]:
#18. Create chart to visualize the count of each category in education column. Use seaborn countplot
plt.figure(figsize=[8,5])
sns.countplot(data=df,x="education",order=["university","high school","none"],color="orange")
plt.title("Number of Clients per Education Level")
plt.show()

In [ ]:
#18b. Create a chart visualize Average Credit Score per Education Level. Use seaborn barplot
plt.figure(figsize=[8,5])
sns.barplot(data=df,x="credit_score",y="education",estimator=np.mean,color="lightblue")
plt.title("Average Credit Score per Education Level")
plt.show()

In [ ]:
#19. Create a histogram for annual_mileage column , set bins to 20, give a name to the chart and to the y label. Use seaborn histplot()
plt.figure(figsize=[8,5])
sns.histplot(data=df,x="annual_mileage",bins=20).set(title="Distribution of credit scores",ylabel="Number of clients")
plt.show()

In [ ]:
#20. Create a scatter plot to show relation between "annual_mileage" and "speeding_violations". Use scatter from matplotlib
plt.figure(figsize=[8,5])
plt.scatter(data=df,x="annual_mileage",y="speeding_violations")
plt.title("Annual Mileage vrs Speeding Violations")
plt.ylabel("Speeding Violations")
plt.xlabel("Annual Mileage")
plt.show()

In [ ]:
#21. Create a boxplot for credit_score per education level. And compare dispersion. Use seaborn boxplot. Repeat it with different columns; select one categorical one numerical column. eg. credit score vs income
sns.boxplot(data=df,x='education', y='credit_score')
plt.title("Distribution of Credit Score per Education Level")
plt.show()

In [ ]:
sns.boxplot(data=df,x='income', y='credit_score')
plt.title("Distribution of Credit Score per Income Level")
plt.show()

In [ ]:
#22. Create a histogram for credit score per outcome. Use seaborn histplot Hint: x="credit_score", hue="outcome" , element="step", stat="density"
sns.histplot(df,x="credit_score",hue="outcome",element="step",stat="density")
plt.title("Distribution of Credit Score per Outcome")
plt.show()

In [ ]:
#Bonus
#Create 2 subplots one for education one for income categories and both shows credit_score.
fig, axes = plt.subplots(1,2,sharey=True,figsize=(12,4))
sns.barplot(data=df,ax=axes[0], x="education", y="credit_score",color="#69b3a2")
axes[0].set_title("Average Credit Score per Education Level")
sns.barplot(data=df,ax=axes[1], x="income", y="credit_score",color="#69b3a2")
axes[1].set_title("Average Credit Score per Income Level")

In [ ]:
#Use for loop to iterate education and income columns.
fig, axes = plt.subplots(1,2,sharey=True,figsize=(12,4))
for i,col in enumerate(["education","income"]):

    sns.barplot(data=df,ax=axes[i],x=col,y="credit_score",color="darkgreen")
    axes[i].set(title="Average Credit Score per "+ col, ylabel=" ", xlabel=" ")

In [ ]:
#you can try any other plot with any column you wish for visualization